<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form">
        <input type="text" name="msg" placeholder="message">
        <input type="submit" placeholder="submit">
    </form>
    
    <p class="domsource"></p>
    <a href="logout/">Logout</a>

    <script type="text/javascript">
        //let roomname = ''
        roomname = prompt('Enter Room Name...')
        //console.log(int)
        console.log(roomname)
        const url = `ws://${window.location.host}/ChatRoom/${roomname}/`
        const ws = new WebSocket(url)
        
        const dom = document.querySelector('.domsource')

        ws.onmessage = Incoming_Message

        function Incoming_Message(e){
            console.log('raw',e.data)
            data = JSON.parse(e.data)
            console.log(data)
            dom.innerHTML=data['message']
        }

        form.addEventListener('submit', function (e){
            e.preventDefault()
            data=e.target.msg.value

            ws.send(JSON.stringify({
                'message': data
            }))
        
        form.reset()
        })


    </script>
</body>
</html>