{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Judson&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%static 'Chat/Assets/css/profile.css'%}">
</head>
<body>
    <div class="parent">
    {%include 'pages/NavBar.html'%}
        <div class="rightside">
        <div class="heading">
            <p>Profile</p>
        </div>

        <div class="profilepicdiv">
            <div class="profilepic">
                <img src="{% static 'Chat/Assets/images/profile.jpeg' %}" alt="profile">
            </div>
            <div class="profilecontent">
                <p>{{request.user}}</p>
                <p class="proemail">{{request.user.email}}</p>
                
            </div>
        </div>
        <div class="configurations">
            <form class="langwrap" method="POST">
                {%csrf_token%}
                <label for="lang">Language Preference:</label>
                <select name="language" id="lang">
                    <option disabled selected class="disops">Selet a language, Default: English</option>
                    {%for language in languages%}
                        <option value="{{language.0}}">{{ language.1 }}</option>
                    {%endfor%}
                </select>
                <input type="submit" value="Submit">

            </form>
        </div>

        </div>
    </div>
    <script>
        let pruser = document.querySelector('.pruser')
        let prnote = document.querySelector('.prnote')
        let premail = document.querySelector('.premail')
        uname = "{{request.user}}"
        note = "{{request.user.Note}}"
        mail = "{{request.user.email}}"
        
        pruser.value=uname
        prnote.value=note
        premail.value=mail   
    </script>
</body>
</html>