{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Authentication</title>
    <link rel="stylesheet" href="{% static 'Chat/Assets/css/roomauth.css' %}">
    <link rel="stylesheet" href="{% static 'Chat/Assets/css/main.css' %}">
    <style>
        .imagewrap {
        background: url("{%static 'Chat/Assets/images/profile.jpeg'%}");
        background-size: cover;
        background-position: center;
        border-radius:50% 50% 50% 50%;
        width:40px;
        height:40px;
    }
    </style>
</head>

<body>
    <section class="parent">
        <div class="profilediv">
            <div class="imagewrap">
                
            </div>
            <div class="prcont">
                <p class="info">Logged in as</p>
                <p class="User">{{request.user}}</p>
            </div>
        </div>
        <div class="abstractwrap">
            <div class="mainabs">
                <img src="{%static 'Auth/Assets/images/Vector 4.svg'%}" alt="vector">
            </div>
            <div class="secondaryabs">
                <img src="{%static 'Auth/Assets/images/Vector.svg' %}" alt="" class="ast1">
                <img src="{%static 'Auth/Assets/images/Vector (1).svg' %}" alt="" class="ast2">
                <img src="{%static 'Auth/Assets/images/Vector (2).svg' %}" alt="" class="ast3">
                <img src="{%static 'Auth/Assets/images/Ellipse 7.svg' %}" alt="" class="ast4">
            </div>
        </div>
        <div class="logo">
            <img src="{%static 'Auth/Assets/images/Logo.svg' %}" alt="logo">
        </div>
        <div class="mainbox">
            <div class="mainhead">
                <p>Chat Authentication</p>
            </div>
            <hr>
            <div class="subject">
                <div class="sechead">
                    <p>Enter Room</p>
                </div>
                <form method="post" class="form">
                    {%csrf_token%}
                <div class="inputs">
                    <p class="roomname">Room Name.: {{roomname}}</p>
                    <input type="password" name="roompin" placeholder="Enter Room PIN" autocomplete="off">
                    <p class="errortxt">{{error}}</p>
                    <input type="submit" value="Proceed" autocomplete="off">
                </div>
            </form>
            </div>

        </div>
    </section>
</body>
</html>