@import url(fonts.css);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    color: white;
}
::-webkit-scrollbar {
    width: 10px;
  }
  
::-webkit-scrollbar-track {
background: transparent;
}
  
::-webkit-scrollbar-thumb {
    background: #212121;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
background: #000000;
}

html
{
    overflow-x: hidden;
    overflow-y: hidden;
}
.parent
{
    background-color: #323232;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
}
.profilediv
{
    width: 180px;
    height: 50px;
    background-color: #1E1E1E;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1em;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .25);  

}
.prcont
{
    margin-left: 1em;
}
.info
{
    font-family: 'Monteserrat_Reg';
    font-size: 10px;
}
.User
{
    font-family: 'Judson', serif;
    font-size: 1.6em;
}
.imagewrap
{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.imagewrap>img
{
    max-width: 100%;
}
.navsec
{
    max-width: 300px;
    min-height: 100vh;
    background-color: #272727;
    padding: 2em;
    position: relative ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo
{
    position: absolute;
    top: 2em;
    left: 20px;
    right: 20px;
}
.logo>img
{
    max-width: 100%;
}
.logo>hr
{
    opacity: 0.25;
}
.navitem
{
    list-style-type: none;
}
.nav>ul
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.navitem>a
{
    color: white;
    text-decoration: none;
    display: flex;
    gap: 10px;
    transition: 0.5s;
}
.navitem>a>p
{
    transition: 1s;
    font-size: 2em;
    font-family: 'Monteserrat_Med';
}
.navsec>a>p:hover
{
    opacity: 0.7;
}
.timestamp
{
    font-size: 1em;
    font-family: 'Monteserrat_Lig';
}
.mainsec
{
    width: 100%;
    /* min-height: 100vh;   */
    display: flex;
    position: relative;

}
.nrf-head
{
    font-size: 2em;
    font-family: 'Monteserrat_Bold';
}
.nrf-msg
{
    font-size: 1.6em;
    font-family: 'Monteserrat_Med'; 
}
.rooms
{
    margin-top: 50px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.header>p
{
    font-size: 2.5em;
    font-family: 'Monteserrat_Bold';
    text-decoration: underline;
    color: white
}
.roombox
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B2B2B;
    padding: 3em;
    gap: 8em;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    width: 700px;
}
.roomname
{
    font-size: 1.8em;
    font-family: 'Monteserrat_Med';
    color: white;
    
}
.admclass
{
    opacity: 0.5;
    font-family: 'Monteserrat_Lig';
}
.uid, .desc
{
    font-size: 1.5em;
    font-family: 'Monteserrat_Lig';
    color: white;
    opacity: 0.8;
}
.joinbtn
{
    color: white;
    background: #3c3c3c;
    outline: none;
    border: none;
    font-size: 1.5em;
    font-family: 'Monteserrat_Reg';
    padding: .1em 2em .1em 2em;
    border-radius: .2em;
    cursor: pointer;
}
.delbtn
{
    color: white;
    background: #b81111;
    outline: none;
    border: none;
    font-family: 'Monteserrat_Reg';
    padding: .1em 2em .1em 2em;
    border-radius: .2em;
    cursor: pointer;

}
.delbtn>a
{
    font-size: 1.5em;
    font-family: 'Monteserrat_Reg';
    text-decoration: none;
}
.uid>img
{
    cursor: pointer;
    width: 5%;
}
.roomcont
{
    width: 50%;
}
.link
{
    font-size: 1.4em;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 2em;
    font-family: "Monteserrat_Reg";
}
.room-wrap
{
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow-y: scroll;
    padding: 1em;
}
.mlogo
{
    display: none;
}

.chatbox
{
    position: absolute;
    top: 0;
    right: -550px;
    width: 530px;
    height: 100vh;
    background: #2F2F2F;
    display: flex;
    flex-direction: column;
    padding: 3em;
    transition: 1s;
}
.chatbox.active
{
    right: 0;
}
.room_id
{
    margin-top: .5em;
}
.room_id, .room_desc
{
    font-size: 1.5em;
    font-family: 'Monteserrat_Lig';
}
.roomhead
{
    font-size: 2.5em;
    font-family: 'Monteserrat_Sbold';
    text-decoration: underline;
}
.hr
{
    width: 100%;
    height: 1px;
    background: #6c6c6c;
    margin-top: 2em;
}
.chatwrap
{
    overflow-y: scroll;
    height: 70%;
    margin-top: 3em;
}
.username
{
    font-size: 1.8em;
    font-family: 'Monteserrat_Med';
}
.message
{
    font-size: 1.6em;
    font-family: 'Monteserrat_Reg';
}
.chatinput
{
    position: fixed;
    bottom: 2em;
    /* right: 50%;
    left: 50%; */
}
.chatinput
{
    width: 100%;
}
.chatint
{
    width: 37%;
    background: #292929;
    border-radius: .3em;
    display: flex;
    align-items: center;
    padding: .5em 1em .5em 1em;

}
.chatint>input
{
    border: none;
    outline: none;
    padding: .5em 1em .5em 1em;
    width: 100%;
    height: 100%;
    background: #292929;
    border-radius: .3em;
    font-size: 1.6em;
    font-family: 'Monteserrat_Reg';
}
.chatint>img
{
    z-index: 3;
}
.actualchat
{
    margin-top: 2em;
}
.crosswrap
{
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0.5;
    cursor: pointer;
}
.roombtn
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.roombtn>a
{
    font-size: 2em;
}
.swal2-title
{
    font-family: 'Monteserrat_Sbold';
    font-size: 2em;
}
.swal2-html-container
{
    font-family: 'Monteserrat_Reg';
    font-size: 2em;
}
.swal2-html-container>bold
{
    font-family: 'Monteserrat_Reg';
    color: black;
    font-weight: bold;
}
.swal2-title
{
    font-size: 4em;
}
.swal2-styled
{
    font-size: 1.6em;
    font-family: 'Monteserrat_Reg';
}
/* Animations */
.herosaly
{
    opacity: 0;
}
.header1
{
    transform: translateX(500px);
    opacity: 0;
}
.fileup
{
    opacity: 0.5;
    cursor: pointer;
}
/* Utilities */
.flex
{
    display: flex;
}
.bg
{
    background-color: #373737;
    border-radius: 5px;
    padding: 1em;
}
.flex-col
{
    flex-direction: column;
}
.align-right
{
    align-items: flex-end;
}
@media (max-width: 840px)
{
    .rooms{
        width: 100%;
    }
    .roombox
    {
        width: 100%;
    }
}
@media (max-width: 650px)
{
    .anctxt
    {
        display: none;
    }
    .navsec
    {
        max-width: 300px;
    }
    .roombox
    {
        gap: 3em;
    }
    .roombtn>button
    {
        padding: .1em 1em .1em 1em;
    }
    .uid, .desc
    {
        font-size: 1em;
    }
    .chatbox.active
    {
        width: 100%;
    }
    .mlogo
    {
        display: flex;
    }
    .nlogo
    {
        display: none;
    }
    .chatint
    {
        width: 90%;
    }
}