@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../Assets/Fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Montserrat-Sbold';
    src: url(../Assets/Fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../Assets/Fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../Assets/Fonts/Montserrat-Regular.ttf);
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-size: 10px;
    background-color: #2F2F2F;
    color: white;
}
.parent
{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}
.sec1
{
    width: 100%;
    min-height: 100vh;
}
.navsec
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em 8em;
    position: absolute;
    top: 0;
    left: 0;
}
.logo
{
    cursor: pointer;
}
.signbtns
{
    position: relative;
    margin-right: 100px;
}
.sb1, .sb2
{
    padding: 10px 25px;
    border: none;
    outline: none;
    background: #9433F5;    
    color: white;
    font-family: 'Montserrat-Medium';
    font-size: 1.6em;
    border-radius: 2.5em;
    cursor: pointer;
    z-index: 2;
}
.sb2
{
    background: rgba(148, 51, 246, 0.6);
    position: absolute;
    padding: 10px 25px 10px 40px;
    left: 77px;
}
.mainsec
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mainl
{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
    padding: 8em;

}
.cmob
{
    display: none;
}
.curve
{
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    
}
.cur
{
    max-width: 90%;
}
.logohead
{
    font-family: 'Krona One', sans-serif;
    font-size: 4.5em;
    text-decoration: underline;
}
.sechead
{
    font-family: 'Montserrat-Medium';
    font-size: 4em;
    margin-top: .5em;
}
.terthead
{
    font-family: 'Judson', serif;
    font-size: 2.5em;
}
.sec4
{
    padding: 1em;
    min-height: 50vh;
    width: 100%;
    padding-bottom: 2em
}

.header>a>button
{
    padding: 20px 35px;
    border: none;
    outline: none;
    background: #7A11E3;    
    color: white;
    font-family: 'Montserrat-Sbold';
    font-size: 2em;
    border-radius: 2.5em;
    margin-top: 1em;
    cursor: pointer;
}

.sec2
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 8em;
}
.headerfeat>p
{
    font-size: 6em;
    font-family: 'Notable', sans-serif; 
}
.features
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4em;
}
.feat1, .feat2, .feat3  
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.featdesc>p
{
    font-size: 1.6em;
    font-family: 'Montserrat-Regular';
}
.sec3
{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form>input,textarea
{
    width: 80%;
    margin: 5px;
    outline: none;
    border: none;
    background: #3d3d3d;
    padding: 13px;
    border-radius: 5px;
    color: white;
    font-family: 'Monteserrat_Med';
    font-size: 1.7em;
}
.btnsub
{
    background: #292929;
}
form>p
{
    font-family: 'Judson', serif;
    font-size: 2em;
}
.secmainhead>p
{
    font-family: 'Judson', serif;
    font-size: 5em;
}
.secleft
{
    max-width: 50%;
}
.sec4

{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dev
{
    font-size: 1.8em;   
    position: absolute;
    bottom: 2px;
    margin: 10px;
    font-family: 'Montez', cursive;
}
.fhead
{
    text-align: center;
}
.mob-sechead
{
    font-size: 3em;
    margin: -4px;
}
@media (max-width: 1000px)
{
        .navsec, .main1
        {
            padding: 20px;
        }
        .herosaly
        {
            display: none;
        }
        .header
        {
            text-align: center;
        }
        .cmob
        {
            display: flex;
            transform: scaleX(-1);
            max-width: 90%;
            z-index: 1;

        }
        .abstract
        {
            display: none;
        }
        .sec2
        {
            justify-content: center;
        }
        .logo>img
        {
            width: 80%;
        }
        .sb1, .sb2
        {
            font-size: 1.2em;
        }
        .sb2
        {
            left: 65px;
        }
        .secright
        {
            display: none;
        }
        .secmainhead
        {
            text-align: center;
        }
        form>input, textarea
        {
            width: 100%;

        }
}